<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Not main .hbs</h1>
    <h1>{{getDate}}</h1>
    <h1>{{square 9}}</h1>
    <h1>{{round 9.123423512}}</h1>
    <h1>{{sum 1 2 3 4}}</h1>
    <h1>{{Upper 'hello'}}</h1>
    {{!-- <h1>{{formatDate '2020-07-12'}}</h1> --}}
    <h1>{{getDay '2020-07-12'}}</h1>
    {{!-- {{#each dates}}
        <h1>{{formatDate}}</h1>
    {{/each}} --}}
</body>
</html>